@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

div.main {
    background: #0264d6;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #0264d6), color-stop(100%, #1c2b5a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #0264d6 1%, #1c2b5a 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0264d6', endColorstr='#1c2b5a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh);
    width: 100%;
}

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
    font-family: Raleway, sans-serif;
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}