* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    font-size: 0.9em;
    min-height: 100%;
    height:60%;
  }
  
  body {
    min-height: 90%;
    position: relative;
    margin-top: 0px;
  }
  
  #main {
    height: 100%;

  }
  
  p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
  }
  
  img {
    border: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FA057E;
    margin: 0 0 0px 0;
    padding: 0 0 0 0;
  }
  
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
  }
  
  h5,
  h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
  }
  
  a,
  a:hover {
    outline: none;
    text-decoration: underline;
    color: #FFF;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  
  /* Style the list items */
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background:#a9f5f5;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Set all odd list items to a different color (zebra-stripes) */
  
  ul li:nth-child(odd) {
    background: #10e0e0;
  }
  
  
  /* Darker background-color on hover */
  
  ul li:hover {
    background: rgb(255, 117, 186);
  }
  
  
  /* When clicked on, add a background color and strike out text */
  
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through #FA057E;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  
  /* Style the close button */
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #FA057E;
    color: white;
  }
  
  
  /* Style the input */
  
  input {
    margin-left: 15px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 0;
    width: 77%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 0px;
    width: 15%;
    background: #888;
    color: #555;
    float: left;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #FA057E;
  }
  
  nav {
    background-color: grey;
    grid-area: navi;
    position: sticky;
    padding: 0px;
    box-shadow: 0 8px 6px -6px black;
  }
  
  #socialIcons {
    width: 47%;
    /* % of parent elemenent which navi section */
    padding: 5px;
  }

  #log-out {
    text-align: right;
    margin-right: 15px;
    color: white;
    margin-top: 5px;
  }
  
  .fab {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 1px 17px 1px 0px;
  }
  
  .fas {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: right;
    text-decoration: none;
    color: white;
  }
  
  .fa:hover {
    opacity: 0.1;
  }
  
  #menu {
    position: absolute;
    top: 0%;
    right: 5px;
    width: 50%;
    height: 100%;
  }
  
  #menu ul {
    position: absolute;
    right: 0%;
    top: 20%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #menu ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
  }
  
  #menu ul a:link,
  ul a:visited {
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    background-color: var(--border-color);
    color: var(--main-color);
    padding: 2px;
  }

  
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(21, 21, 21, 0), rgba(110, 109, 109, 0.75), rgba(0, 0, 0, 0));
  }
  
  header {
    border: dotted 4px #10e0e0;
    padding: 0.5em;
    background-color: rgb(36, 36, 34);
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    text-align: right;
    padding-right: 4em;
    color: rgb(198, 198, 198);
  }
  
  #under_menu {
    color: #FA057E;
    text-align: center;
    margin-top: 2%;
    border: 0.5px solid grey;
    border-radius: 6px;
    width: 150px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  #boxes_field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  
  .box {
    border: dotted 4px #10e0e0;
    border-radius: 0.3em;
    box-shadow: -20px 12px 4px rgba(0, 0, 0, 0.2);
    min-width: 8em;
    max-width: 20em;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    min-height: 25em;
  }
  
  .box .title {
    border: solid 1px grey;
    position: relative;
    top: -2em;
    left: 5%;
    margin-left: 0%;
    background-color: white;
    padding: 3%;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .box .content {
    max-height: 16em;
    overflow: scroll;
    padding-left: 15px;
    padding-right: 10px;
    text-align: justify;
  }
  
  /* #to_do_box {} */
  
  /*#in_progress_box {
  }
  
  #done_box {} */
  
  #footer {
    background-color: grey;
    box-shadow: 0 8px 6px -6px black;
    color: whitesmoke;
    text-align: center;
  }
  
  .fas.fa-clipboard-list {
    color: #10e0e0;
  }
  .fas.fa-trash-alt {
    color: rgb(36, 36, 34);
    cursor: pointer;
  }
  .fas.fa-plus {
    color: #10e0e0;
  }
  
